@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Resete do CSS padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Raleway;
    font-size: 100%;
    color: rgb(0, 0, 0);
    /* Cor da letra */
    background-image: url("unnamed-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}